/* .bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-handle-off {
    background-color: #55D834 !important;
} */

/* .bootstrap-switch-on{
    background-color: #55D834 !important;
}
.bootstrap-switch-off{
    background-color: #000000 !important;
} */